@font-face {
  src: url("./fonts/OpenSans-Bold.ttf");
  font-family: "OpensSans";
  font-style: bold;
}

@font-face {
  src: url("./fonts/OpenSans-Regular.ttf");
  font-family: "OpensSans";
  font-style: normal;
}

body {
  font-family: "Open Sans", "Open Sans Regular";
  padding: 0px;
  margin: 0px;
  height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.wrapper {
  display: flex;
  position: fixed;
  width: 100%;
  height: auto;
  right: 0;
  top: 0;
  z-index: 99;
}
